<div class="allInformation">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class=" kursachWort kursach">My coursework</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 main infText animaite" routerLink="/" >Главная</a>
      <a class="p-2 contacts infText animaite" routerLink="/about">Контакты</a>
    </nav>
      <button class="loginBtn" (click)="loginBtn()">Вход</button>


    
    <!-- <a class="btn btn-outline-primary vhod" href="#">Войти</a> -->
  </div>
</div>