<div>Car name</div>
<input type="text" placeholder="Название машины" class="form-control" [(ngModel)]="newCar.name" name="name" ><br> 
<div>Car speed</div>
<input type="text" placeholder="Скорость машины" class="form-control" [(ngModel)]="newCar.speed" ><br> 
<div>Car path_picturs</div>
<input type="text" placeholder="Фото машины" class="form-control" [(ngModel)]="newCar.path_picturs" ><br> 

<button class="cale"  (click)="Cale(newCar)">Cale</button>
<button class="save"  (click)="saveCarsToStorage()">Save</button>

<!-- <button (click)="helloFunction();">Click Me</button> -->
