button {
  margin: 10px;  
}

.AddCar {
    margin: auto;
    top: 5px;
    border-radius: 10px 10px 10px 10px; /*Закругляем уголки*/
  }

.form-control {
  margin-top: 15px;
}
input {
  width: 100%;
}
table,th,td,tr {
  border: 1px solid black;
  text-align: center;
}

table {
  width: 50%;
  margin: auto;
}
.centr {
  margin: auto;
}

.inputtext {
  background-color: #f6f6f6; /*Цвет текстового поля*/
  border-radius: 10px 10px 10px 10px; /*Закругляем уголки*/
  width: 95%; 

}
