<body>
    <div class="formRegistration">
        <div class="informationError">{{informationError}} </div><br>
            <div class="inputPlusLabels">
                <div>Login</div>
                <input [(ngModel)]="user.login" type="text" placeholder="Ваш login" class="form-control" name="name"><br>
                <div>Password</div>
                <input type="password" [(ngModel)]="user.password" placeholder="name" placeholder="Ваш password"
                    class="form-control"><br>
    
                <button class="logBtn" (click)="Loginnn(user.login,user.password)">LOGIN</button>
    
                <button class="regBtn" (click)="Registration()">Registration</button>
             </div>
    
    </div>
</body>


